@font-face { font-family: 'HKGrotesk-Light';
    src: url('../fonts/HKGrotesk-Light.woff2')  format('woff2'),
         url('../fonts/HKGrotesk-Light.woff')  format('woff'),
         url('../fonts/HKGrotesk-Light.eot')  format('eot'); 
        }
@font-face { font-family: 'HKGrotesk-Bold';
    src: url('../fonts/HKGrotesk-Bold.woff2')  format('woff2'),
            url('../fonts/HKGrotesk-Bold.woff')  format('woff'),
            url('../fonts/HKGrotesk-Bold.eot')  format('eot'); 
        }
body, html { 
    font-family: "HKGrotesk-Light", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.0125rem;
    font-size: 20px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    -webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0;
-webkit-padding-start: 0;
  }
  
  article, aside, details, figcaption, figure,
  footer, header, main, menu, nav, section, summary {
    /* Add correct display for IE 9- and some newer browsers */
    display: block;
  }
  
  ::-moz-selection {
    background: white;
    color: silver;
  }
  
  ::selection {
    background: white;
    color: silver;
  }

.mw9 {
    max-width:72em;
}

h1, h2 {
    font-size: 68px;
}

h3, h4 {    
    font-size: 20px;
}

h1, h2, h3, h4 {
    line-height: 1;
    color:#333333; 
    
}


h1, h2, h3, h4, .bold {
    font-family: "HKGrotesk-Bold", sans-serif; font-weight: normal;
    letter-spacing: 0.0175rem;   
}

.f7 {font-size:14px;}


*:focus {
    outline: none !important;
}
main p > a {
    transition: all 0.5s;
    text-decoration: none;
    border-bottom: 1px solid silver;
}
main p > a, 
main p > a:visited {
    color:#151515;
}

main p > a:hover {
    border-bottom: 1px solid black;
}

.is-active {
    border-bottom: 1px solid silver;
}

.line-parent {
    pointer-events: none; 
}


img.line {
    transition: all 1s;
}
img.line:hover {
    opacity:0;
}

.arrows {
    transform: scale(1,1.65) !important;
}

figure {
    margin: 0 -40px;
}